<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>Home - Frugality</title>
      <meta name="description" content="A page to be frugal - sharing attempts to cut costs.">
      <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
      <link rel="stylesheet" href="assets/css/styles.min.css">
      <link rel="stylesheet" href="assets/css/wff.css">
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-BNLC00RYY7"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         
         gtag('config', 'G-BNLC00RYY7');
      </script>
      <style>
        #loader {
            border: 12px solid #f3f3f3;
            border-radius: 50%;
            border-top: 12px solid #444444;
            width: 70px;
            height: 70px;
            animation: spin 1s linear infinite;
        }
          
        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }
          
        .center {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    </style>
   </head>
   <body>
      <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
         <div class="container">
            <a class="navbar-brand" href="/">Frugality</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
        	<div class="collapse navbar-collapse" id="navcol-1">
            <a class="btn btn-primary ms-auto" role="button" href="/FutureProjects">Future Project Suggestions</a>
            </div>
         </div>
      </nav>
      <header class="text-center text-white masthead" style="background: url(&quot;assets/img/martins-cardoso-7xyvDUTcKvM-unsplash.jpg&quot;);" margin-bottom: 15px>
         <div class="overlay"></div>
         <div class="container">
            <div class="row">
               <div class="col-xl-9 mx-auto position-relative">
                  <h1 class="mb-5">Every penny counts.</h1>
               </div>
               <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
                  <form action="" method="POST">
                     <div class="row" >
                        <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control" type="text" name="ZIP" placeholder="Enter your ZIP code or City/State..." style="padding: 11px 16px;"></div>
                        <div onsubmit="return false;" class="col-12 col-md-3"><button id="Login" class="btn btn-primary btn-lg" type="submit" onclick="showDiv()">Search!</button></div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </header>
      <section padding: 5%;>
  <div id="loadingGif" align="center" style="display:none"><br><p>Hold a moment!</p><br><img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"></div>
            <script>
function showDiv() {
  document.getElementById('loadingGif').style.display = "block";
  setTimeout(function() {
    document.getElementById('loadingGif').style.display = "none";
  },2000);
   
}
      </script>
      </section>
      <section>
      <div align = "center"> {{ waiting | safe}} </div>
      </section>
      <!-- Start: Footer Basic -->
      <footer class="footer-basic">
         <!-- Start: Social Icons -->
         <div class="social"></div>
         <!-- End: Social Icons --><!-- Start: Links -->
         <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item"><a href="/About">About</a></li>
            <li class="list-inline-item"><a href="/FutureProjects">Suggest Future Projects</a></li>
         </ul>
         <!-- End: Links --><!-- Start: Copyright -->
         <p class="copyright">LetsBeFrugal © 2021</p>
         <!-- End: Copyright -->
      </footer>
      <!-- End: Footer Basic --><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script><script src="assets/js/smart-forms.min.js"></script>
   </body>
</html>