<!DOCTYPE html>
<html style="font-family: Arapey, serif;">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>Home - Brand</title>
      <meta name="description" content="One poker tool to rule the others. A machine learning approach to dynamic decision making in poker.">
      <link rel="icon" type="image/jpeg" sizes="1024x819" href="/assets/img/amol-tyagi-7dkLbNE6ycI-unsplash.jpg?h=e1d53b2604a7a851d69469aff2fde3a5">
      <link rel="icon" type="image/jpeg" sizes="1024x819" href="/assets/img/amol-tyagi-7dkLbNE6ycI-unsplash.jpg?h=e1d53b2604a7a851d69469aff2fde3a5">
      <link rel="icon" type="image/jpeg" sizes="1024x819" href="/assets/img/amol-tyagi-7dkLbNE6ycI-unsplash.jpg?h=e1d53b2604a7a851d69469aff2fde3a5">
      <link rel="icon" type="image/jpeg" sizes="1024x819" href="/assets/img/amol-tyagi-7dkLbNE6ycI-unsplash.jpg?h=e1d53b2604a7a851d69469aff2fde3a5">
      <link rel="icon" type="image/jpeg" sizes="1024x819" href="/assets/img/amol-tyagi-7dkLbNE6ycI-unsplash.jpg?h=e1d53b2604a7a851d69469aff2fde3a5">
      <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=5b9504f177f83f045f95d3b940d4012f">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiri">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arapey">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
      <link rel="stylesheet" href="/assets/css/styles.min.css?h=f9714966383161b2850b0983cd3ee2b5">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
   </head>
   <body style="font-family: Arapey, serif;">
      <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
         <div class="container">
            <a class="navbar-brand" href="#">IntelligentPoker</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
            <div class="collapse navbar-collapse" id="navcol-1"><a class="btn btn-primary ms-auto" role="button" href="#">Sign Up!</a></div>
         </div>
      </nav>
      <header class="text-center text-white masthead" style="background: url(&quot;/assets/img/amol-tyagi-7dkLbNE6ycI-unsplash.jpg?h=e1d53b2604a7a851d69469aff2fde3a5&quot;);">
         <div class="overlay"></div>
         <div class="container">
            <div class="row">
               <div class="col-xl-9 mx-auto position-relative">
                  <h1 class="mb-5" style="font-family: Arapey, serif;">Win more.<br>Play more.</h1>
               </div>
               <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
                  <form form action="" method="POST">
                     <div class="row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" name ="Email" type="email" placeholder="Enter your email..." style="font-family: Arapey, serif;"></div>
                        <div class="col-12 col-md-3"><button class="btn btn-primary btn-lg" type="submit" style="font-family: Arapey, serif;">Sign up!</button></div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </header>
      <!-- Start: Highlight Clean -->
      <section class="highlight-clean">
         <div class="container">
            <!-- Start: Intro -->
            <div class="intro">
               <h2 class="text-center" style="font-family: Arapey, serif;">IntelligentPoker</h2>
               <p class="text-center" style="font-family: Arapey, serif;">Experience the BETA release of IntelligentPoker, a new tool for poker players online. Sign up for more updates and download the fold chart for free.</p>
            </div>
            <!-- End: Intro --><!-- Start: Buttons -->
            <div class="buttons" style="font-family: Arapey, serif;"><a class="btn btn-primary" role="button" href="#" style="font-family: Arapey, serif;">Sign Up</a><button class="btn btn-light" type="button" style="font-family: Arapey, serif;">Download Chart</button></div>
            <!-- End: Buttons -->
         </div>
      </section>
      <!-- End: Highlight Clean -->
      <section class="text-center bg-light features-icons">
         <div class="container">
            <div class="row">
               <div class="col-lg-4">
                  <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                     <div class="d-flex features-icons-icon"><i class="icon-badge m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                     <h3>Competition Vetted</h3>
                     <p class="lead mb-0">After simulating millions of games, our method comes on top with an average of X wins per 10 hands.</p>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                     <div class="d-flex features-icons-icon"><i class="icon-wallet m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                     <h3>Make Money</h3>
                     <p class="lead mb-0">Use InitelligentPoker and increase your win rate. It can detect bluffing, and game situations with just a couple datapoints</p>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                     <div class="d-flex features-icons-icon"><i class="icon-graph m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                     <h3>Dynamic</h3>
                     <p class="lead mb-0">It plays hands for the given moment at every step of the game, just update the table positions and a new suggestion will appear</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="showcase">
         <div class="container-fluid p-0">
            <div class="row g-0">
               <div class="col-lg-6 text-white showcase-img" style="background-image:url(&quot;/assets/img/bg-showcase-2.jpg?h=82f59ff9dc7ce5bb277d6dfa737a6e45&quot;);"><span></span></div>
               <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                  <h2 style="font-family: Arapey, serif;">Built with the future</h2>
                  <p class="lead mb-0" style="font-family: Arapey, serif;">IntelligentPoker uses state of the art machine learning techniques and implementations to bring the best decisions to the table.</p>
               </div>
            </div>
         </div>
      </section>
      <section class="text-center bg-light testimonials">
         <div class="container">
            <h2 class="mb-5" style="font-family: Arapey, serif;">What people are saying...</h2>
            <div class="row">
               <div class="col-lg-4">
                  <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                     <h5 style="font-family: Arapey, serif;">Walid S.</h5>
                     <p class="font-weight-light mb-0" style="font-family: Arapey, serif;">This tool is incredible, I saw it as a money losing hobby before, but now I can make some beet money!</p>
                  </div>
               </div>
               <div class="col-lg-4" style="font-family: Arapey, serif;">
                  <div class="mx-auto testimonial-item mb-5 mb-lg-0" style="font-family: Arapey, serif;">
                     <h5 style="font-family: Arapey, serif;">Xihuang Z.</h5>
                     <p class="font-weight-light mb-0" style="font-family: Arapey, serif;">IntelligentPoker has taught me so much about my game, in times where i disagree with the choices, I look back and can find my biases</p>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                     <h5 style="font-family: Arapey, serif;">Sasha P.</h5>
                     <p class="font-weight-light mb-0">IntelligentPoker has changed the way I see table games, a simple yet extremely effective tool.</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="text-center text-white call-to-action" style="background: url(&quot;/assets/img/jesus-eca-6B-IevAR_AE-unsplash.jpg?h=5e4f481002128c4ff8d37855977ebe30&quot;);">
         <div class="overlay"></div>
         <div class="container">
            <div class="row">
               <div class="col-xl-9 mx-auto position-relative">
                  <h2 class="mb-4" style="font-family: Arapey, serif;">Ready to get started? Sign up now!</h2>
               </div>
               <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative" style="font-family: Arapey, serif;">
                  <form style="font-family: Arapey, serif;">
                     <div class="row" style="font-family: Arapey, serif;">
                        <div class="col-12 col-md-9 mb-2 mb-md-0" style="font-family: Arapey, serif;"><input class="form-control form-control-lg" type="email" placeholder="Enter your email..." style="font-family: Arapey, serif;"></div>
                        <div class="col-12 col-md-3" style="font-family: Arapey, serif;"><button class="btn btn-primary btn-lg" type="submit" style="font-family: Arapey, serif;">Sign up!</button></div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </section>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script><script src="/assets/js/script.min.js?h=a2cee23efd5962953aee193ace61225c"></script>
   </body>
</html>